<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
  <section>
  <h12><h1>Hi i'm <%= @user.name %></h1></h12>
  <h1>
    <center><%= link_to image_tag @user.image, :size => "250x250", :id=>"profilepicture", :title=> "Do i look good? Yes? Awww yeah!" %></center>
  </h1>
  <algnleft>Username: <a>@<%= @user.username %></a></algnleft></br>
<algnleft>Status: <a><%= @user.status %></a></algnleft></br>
<algnleft>Course: <a><%= @user.course %></a></algnleft>
<algnleft>School: <a><%= @user.school %></a></algnleft>
</br>
<% if @user.followers.count >= 0 && @user.followers.count < 200%>
<b>Social Status: Kiido</b>
<%end%>
<% if @user.followers.count >= 200 && @user.followers.count < 700%>
<b>Social Status: Rising Star</b>
<%end%>
<% if @user.followers.count >= 700 && @user.followers.count < 1500%>
<b>Social Status: Sensational</b>
<%end%>
<% if @user.followers.count >= 1500 && @user.followers.count < 2000%>
<b>Social Status: Celebrity</b>
<%end%>

  <section>
  <%= render 'shared/stats' %>
  </section>
  </aside>
  <div class="span8">
    <%= render "follow_form" if signed_in? %>
    <% if @user.microposts.any? %>
      <h3><k>Wall Feed (<%= @user.microposts.count %>)</k></h3>
      <ol class="microposts span6">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>
